	
	<div class="jumbotron img-responsive container-fluid col-md-14">
		<div class="stitched">
			<%= image_tag "logo.png", :class => "seater" %>
			<h4> Transportation has never been easier. </h4>
		</div>
	</div>
	
	<div class="container">

			
			<%= image_tag "appicon.png", :class => "appicon" %>
			
			<%= image_tag "phone.png", :class => "phone" %>

			<div class="style-text">
				<h3>
					<b> We are changing everything you</br>
					know about transportation! </b></br>
					<a>
						Through our app you can do</br> 
						anything from booking your</br> 
						daily commute, to intercity travel,</br> 
						and everything in between! </a>
				</h3></br>
				<a><strong>What are you waiting for?</strong></a>				
			</div>
	</div>

	<div class="container" id="download">
		<%= link_to image_tag("googlestore.png", class: "img-responsive center-block ps"), root_path %>
		<%= link_to image_tag("like.png", class: "img-responsive center-block fb"), "https://www.facebook.com/SeaterApp/" %></br></br></br>
	<table id="about">
	  <tr>
	    <th>About </th>
	    
	  </tr>
	  <tr>
	    <td>We are a group of five, that have invested a lot of time, and effort to create a unique mass transport solution.</br>
		Please download our app, and try it out. Never hesitate to report any problems you may encounter through the contact us section in the app settings, or through the contact us section here on the website.</br>
		Have a nice ride!</br></td>
	</tr>
</table></br></br></br>

<table id="contact">
	<tr>
		<th>Contact Us</th>
	</tr>
	<tr>
	    <td>You can always reach us through our email; <span style="color:#0071F3;">seaterapp@gmail.com</span>, through the contact us section in the app settings.</br>
		We are always have to receive feedback, and to help you with any problems you may encounter.</td>
	  </tr>

	</table></br></br></br>
	
		
</div>


