	
	<div class="jumbotron img-responsive container-fluid col-md-14">
		
		
		<div class="stitched"></div>
			<%= image_tag "logo.png", :class => "seater" %>
			<h4 style="font-size:2vw;"> Transportation has never been easier. </h4>
	</div>
	
	<div class="container">

			
			<%= image_tag "appicon.png", :class => "appicon" %>
			
			<%= image_tag "phone.png", :class => "phone" %>

			<div class="style-text">
				<h3 style="font-size:2vw;">
					<b> We are changing everything you</br>
					know about transportation! </b></br>
					<a style="font-size:2vw;">
						Through our app you can do</br> 
						anything from booking your</br> 
						daily commute, to intercity travel,</br> 
						and everything in between! </a>
				</h3></br>
				<a style="font-size:2vw;"><strong>What are you waiting for?</strong></a>				
			</div>
	</div>

	<div class="container">
		<%= link_to image_tag("googlestore.png", class: "img-responsive center-block ps"), root_path %>
		<%= link_to image_tag("like.png", class: "img-responsive center-block fb"), "https://www.facebook.com/SeaterApp/" %>
	</div>


